@reboot /home/$USER/ghcontrol/scripts/log_event.sh "Started USER computer, cron log is $CRON_LOG"
@reboot sleep 5s && /usr/bin/eom /home/$USER/ghcontrol/temperature_files/png/current.png
@reboot sleep 10s && /usr/bin/python3 /home/$USER/ghcontrol/on_reset/heater_restart.py &>> $CRON_LOG 2>&1
@reboot sleep 15s && /usr/bin/python3 /home/$USER/ghcontrol/on_reset/temperature_read.py &>> $CRON_LOG 2>&1
@reboot sleep 20s && /usr/bin/python3 /home/$USER/ghcontrol/on_reset/control_temp.py >> /home/USER/ghcontrol/control.log
@reboot sleep 25s && /usr/bin/python3 /home/$USER/ghcontrol/on_reset/buttons_setup.py &>> $CRON_LOG 2>&1
