0 0 * * * /home/USERNAME/ghcontrol/scripts/log_event.sh "$USERNAME log, cron log is CRON_LOG" >> CRON_LOG 2>&1
0 * * * * /usr/bin/sleep 5s && /home/USERNAME/ghcontrol/scripts/get_status_8.sh >> CRON_LOG 2>&1
0 * * * * /usr/bin/sleep 10s && /home/USERNAME/ghcontrol/scripts/get_status_3.sh >> CRON_LOG 2>&1
0 * * * * /usr/bin/sleep 15s && /usr/bin/python3 /home/USERNAME/ghcontrol/read_status_on.py >> CRON_LOG 2>&1
